<div class="flex justify-between items-start mb-4">
  <h1 class="text-6xl">My tasks</h1>
  <%= link_to new_task_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
  <i class="fa-solid fa-plus"></i> Add a new task
  <% end %>
</div>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= link_to task_path(task), class: "text-blue-600" do %>
    <% if task.completed %>
    <i class="fa-regular fa-square-check"></i> <%= task.title %>
    <% else %>
    <i class="fa-regular fa-square"></i> <%= task.title %>
    <%end %>
    <% end %>
    <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Please confirm the task deletion !" }, class: "text-red-600" do %>
    <i class="fa-regular fa-trash-can ml-2"></i>
    <% end %>
  </li>
  <% end %>
</ul>