<div class="flex justify-between items-start mb-4">
  <h1 class="text-6xl"><%= @task.title %></h1>
  <div class="flex justify-between gap-2 items-center">
    <%= link_to edit_task_path(@task), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
    <i class="fa-solid fa-pen"></i>
    <% end %>
    <%= link_to task_path(@task), class: "font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-red-600/70 text-white hover:bg-red-400 transition-all duration-300", data: { turbo_method: :delete, turbo_confirm: "Please confirm the task deletion !" } do %>
    <i class="fa-regular fa-trash-can"></i>
    <% end %>
  </div>
</div>

<div class="bg-slate-200 p-4 my-4 rounded-md flex justify-between items-center">
  <p class="italic"><%= @task.details %></p>
  <p><strong>
      <% if @task.completed %>
      <i class="fa-regular fa-square-check"></i> Completed
      <%else %>
      <i class="fa-regular fa-square"></i> Not yet completed
      <% end %>
    </strong>
  </p>
</div>

<p>
  <%= link_to tasks_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
  <i class="fa-solid fa-chevron-left"></i> back to the list
  <% end %>
</p>